/* Base styles */
#veri {
  font-size: 40px;
  text-align:right;
}

/* Larger screens */
@media (min-width: 992px) {
  #veri  {
    font-size: 40px;
  }
} 

/* Smaller tablets and mobiles */
@media (max-width: 768px) {
  #veri  {
    font-size: 12px;
  }
}